--
-- PostgreSQL database dump
--

\restrict Q6LW45wc0cEjt8SoXZz9ufIWjnlcT0BpEZI7KcAF8GaOOvSdqTCO0cjSFEFSJft

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: beams; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.beams (
    id integer NOT NULL,
    construction_id integer NOT NULL,
    beam_name text,
    beam_type text,
    profile_name text,
    length_mm numeric(10,2),
    weight_kg numeric(10,2),
    height_mm numeric(10,2),
    width_mm numeric(10,2),
    web_thickness_mm numeric(10,2),
    flange_thickness_mm numeric(10,2),
    steel_grade text,
    surface_coating text,
    condition text,
    defects text,
    usage_history text,
    drawings text,
    certificate_src text,
    quantity integer DEFAULT 1,
    location text,
    price_eur numeric(12,2),
    image_src text,
    CONSTRAINT beams_condition_check CHECK ((condition = ANY (ARRAY['new'::text, 'used'::text]))),
    CONSTRAINT beams_flange_thickness_mm_check CHECK ((flange_thickness_mm >= (0)::numeric)),
    CONSTRAINT beams_height_mm_check CHECK ((height_mm >= (0)::numeric)),
    CONSTRAINT beams_length_mm_check CHECK ((length_mm IS NULL) OR (length_mm > (0)::numeric)),
    CONSTRAINT beams_price_eur_check CHECK ((price_eur >= (0)::numeric)),
    CONSTRAINT beams_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT beams_web_thickness_mm_check CHECK ((web_thickness_mm >= (0)::numeric)),
    CONSTRAINT beams_weight_kg_check CHECK ((weight_kg >= (0)::numeric)),
    CONSTRAINT beams_width_mm_check CHECK ((width_mm >= (0)::numeric))
);


--
-- Name: beams_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.beams_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: beams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.beams_id_seq OWNED BY public.beams.id;


--
-- Name: columns; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.columns (
    id integer NOT NULL,
    construction_id integer NOT NULL,
    column_name text,
    column_type text,
    profile_name text NOT NULL,
    height_mm numeric(10,2) NOT NULL,
    width_mm numeric(10,2),
    depth_mm numeric(10,2),
    wall_thickness_mm numeric(10,2),
    weight_kg numeric(10,2),
    steel_grade text,
    surface_coating text,
    condition text,
    defects text,
    usage_history text,
    drawings text,
    quantity integer DEFAULT 1,
    location text,
    price_eur numeric(12,2),
    CONSTRAINT columns_condition_check CHECK ((condition = ANY (ARRAY['new'::text, 'used'::text]))),
    CONSTRAINT columns_depth_mm_check CHECK ((depth_mm >= (0)::numeric)),
    CONSTRAINT columns_height_mm_check CHECK ((height_mm > (0)::numeric)),
    CONSTRAINT columns_price_eur_check CHECK ((price_eur >= (0)::numeric)),
    CONSTRAINT columns_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT columns_wall_thickness_mm_check CHECK ((wall_thickness_mm >= (0)::numeric)),
    CONSTRAINT columns_weight_kg_check CHECK ((weight_kg >= (0)::numeric)),
    CONSTRAINT columns_width_mm_check CHECK ((width_mm >= (0)::numeric))
);


--
-- Name: columns_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.columns_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: columns_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.columns_id_seq OWNED BY public.columns.id;


--
-- Name: constructions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.constructions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    description text,
    status text DEFAULT 'draft'::text NOT NULL,
    reviewed_by integer,
    reviewed_at timestamp without time zone,
    review_comment text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT constructions_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'pending_review'::text, 'approved'::text, 'rejected'::text, 'sold'::text]))),
    CONSTRAINT constructions_type_check CHECK ((type = ANY (ARRAY['beam'::text, 'column'::text, 'truss'::text])))
);


--
-- Name: constructions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.constructions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: constructions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.constructions_id_seq OWNED BY public.constructions.id;


--
-- Name: trusses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trusses (
    id integer NOT NULL,
    construction_id integer NOT NULL,
    truss_name text,
    truss_type text,
    span_mm numeric(10,2) NOT NULL,
    height_mm numeric(10,2),
    width_mm numeric(10,2),
    member_profile text,
    weight_kg numeric(10,2),
    steel_grade text,
    surface_coating text,
    condition text,
    defects text,
    usage_history text,
    drawings text,
    quantity integer DEFAULT 1,
    location text,
    price_eur numeric(12,2),
    CONSTRAINT trusses_condition_check CHECK ((condition = ANY (ARRAY['new'::text, 'used'::text]))),
    CONSTRAINT trusses_height_mm_check CHECK ((height_mm >= (0)::numeric)),
    CONSTRAINT trusses_price_eur_check CHECK ((price_eur >= (0)::numeric)),
    CONSTRAINT trusses_quantity_check CHECK ((quantity > 0)),
    CONSTRAINT trusses_span_mm_check CHECK ((span_mm > (0)::numeric)),
    CONSTRAINT trusses_weight_kg_check CHECK ((weight_kg >= (0)::numeric)),
    CONSTRAINT trusses_width_mm_check CHECK ((width_mm >= (0)::numeric))
);


--
-- Name: trusses_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.trusses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: trusses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.trusses_id_seq OWNED BY public.trusses.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    name text,
    phone text,
    role text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['user'::text, 'specialist'::text, 'admin'::text])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: beams id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.beams ALTER COLUMN id SET DEFAULT nextval('public.beams_id_seq'::regclass);


--
-- Name: columns id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.columns ALTER COLUMN id SET DEFAULT nextval('public.columns_id_seq'::regclass);


--
-- Name: constructions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.constructions ALTER COLUMN id SET DEFAULT nextval('public.constructions_id_seq'::regclass);


--
-- Name: trusses id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trusses ALTER COLUMN id SET DEFAULT nextval('public.trusses_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: beams beams_construction_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.beams
    ADD CONSTRAINT beams_construction_id_key UNIQUE (construction_id);


--
-- Name: beams beams_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.beams
    ADD CONSTRAINT beams_pkey PRIMARY KEY (id);


--
-- Name: columns columns_construction_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.columns
    ADD CONSTRAINT columns_construction_id_key UNIQUE (construction_id);


--
-- Name: columns columns_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.columns
    ADD CONSTRAINT columns_pkey PRIMARY KEY (id);


--
-- Name: constructions constructions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.constructions
    ADD CONSTRAINT constructions_pkey PRIMARY KEY (id);


--
-- Name: trusses trusses_construction_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trusses
    ADD CONSTRAINT trusses_construction_id_key UNIQUE (construction_id);


--
-- Name: trusses trusses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trusses
    ADD CONSTRAINT trusses_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: beams beams_construction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.beams
    ADD CONSTRAINT beams_construction_id_fkey FOREIGN KEY (construction_id) REFERENCES public.constructions(id) ON DELETE CASCADE;


--
-- Name: columns columns_construction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.columns
    ADD CONSTRAINT columns_construction_id_fkey FOREIGN KEY (construction_id) REFERENCES public.constructions(id) ON DELETE CASCADE;


--
-- Name: constructions constructions_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.constructions
    ADD CONSTRAINT constructions_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id);


--
-- Name: constructions constructions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.constructions
    ADD CONSTRAINT constructions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: trusses trusses_construction_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trusses
    ADD CONSTRAINT trusses_construction_id_fkey FOREIGN KEY (construction_id) REFERENCES public.constructions(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Q6LW45wc0cEjt8SoXZz9ufIWjnlcT0BpEZI7KcAF8GaOOvSdqTCO0cjSFEFSJft

